.adoptaban{
    width: 90%;
    height: 100%;
}


#contenido_index{
    padding-left: 200px;
    padding-right: 200px;
    text-align: justify;
}

#contenido_adopta{
    font-size: 1.5rem;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    background-color:  #9966FF;
    color: whitesmoke;
    max-width: 100%;
    margin-right: 5%; 
    margin-left: 5%;
}

#contenido_proceso{
    font-size: 1.5rem;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    background-color:#CC99FF;
    color: whitesmoke;
    max-width: 100%;
    margin-right: 5%; 
    margin-left: 5%;
}

#contenido_apadrina{
    font-size: 1.5rem;
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    background-color:#CC99FF;
    color: whitesmoke;
    max-width: 100%;
    margin-right: 5%; 
    margin-left: 5%;
}

